.music-player-wrapper {
  padding: 0 20px;
}
.music-player-wrapper .left-wrapper {
  padding-top: 10px;
  width: 20%;
  float: left;
}
.music-player-wrapper .left-wrapper .user-info {
  position: relative;
}
.music-player-wrapper .left-wrapper .user-info .profile-pic {
  border-color: #f2f2f2;
  border-radius: 50%;
  border: 3px solid #b7b7b740;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.music-player-wrapper .left-wrapper .user-info .user-name {
  position: absolute;
  top: 25px;
  margin-left: 15px;
}
.music-player-wrapper .left-wrapper .main-menu {
  padding-bottom: 30px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list-header {
  padding-top: 30px;
  padding-bottom: 20px;
  display: block;
  font-size: 25px;
  font-weight: 700;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list {
  padding-bottom: 10px;
  display: block;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .explore-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url('../img/search.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .genres-icon {
  display: inline-block;
  height: 23px;
  width: 20px;
  background-image: url('../img/guitar.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 2px 5px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .artists-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/microphone.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .albums-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/disc.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .setting-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/settings.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .liked-icon {
  display: inline-block;
  height: 23px;
  width: 20px;
  background-image: url(../img/album.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .classic-icon {
  display: inline-block;
  height: 23px;
  width: 20px;
  background-image: url(../img/album.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .new-play-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/plus.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .right-wrapper {
  width: 80%;
  float: left;
}
.music-player-wrapper .right-wrapper .search-box-style {
  padding-top: 20px;
  padding-right: 75px;
}
.music-player-wrapper .right-wrapper .search-box-style .search-box-wrapper .search-box {
  float: right;
  border: 1px solid #d4d4de;
  border-radius: 5px;
}
.music-player-wrapper .right-wrapper .search-box-style .search-box-wrapper .search-box .search-input {
  width: 250px;
  height: 30px;
  background-color: rgba(228, 224, 224, 0.2);
  border: 0px;
  border-right: 1px solid #ccc;
  padding-left: 10px;
}
.music-player-wrapper .right-wrapper .search-box-style .search-box-wrapper .search-box .search-icon {
  display: inline-block;
  height: 20px;
  width: 30px;
  background-image: url(../img/search.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
.music-player-wrapper .right-wrapper .albums-wrapper {
  padding-top: 40px;
  color: #00134d;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
.music-player-wrapper .right-wrapper .albums-wrapper .heading {
  font-size: 35px;
  padding: 20px;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper {
  width: 100%;
  padding-left: 20px;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper .card {
  width: 20%;
  display: inline-block;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper .card .card-album {
  font-size: 20px;
  font-weight: 500;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper .card .card-img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.music-player-wrapper .currently-playing-wrapper {
  background-color: white;
  padding: 15px 30px;
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
}
.music-player-wrapper .currently-playing-wrapper audio {
  display: none;
}
.music-player-wrapper .currently-playing-wrapper .common-style {
  display: inline-block;
}
.music-player-wrapper .currently-playing-wrapper .album-info {
  width: 15%;
}
.music-player-wrapper .currently-playing-wrapper .album-info .current-text {
  padding-top: 13px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
}
.music-player-wrapper .currently-playing-wrapper .album-info .current-song-text {
  padding-left: 80px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  padding-top: 20px;
}
.music-player-wrapper .currently-playing-wrapper .album-info img {
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 5px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper {
  display: inline-block;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider {
  display: inline-block;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider .ldBar-label {
  visibility: hidden;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider .total-time {
  display: inline-block;
  float: right;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider .current-time {
  display: inline-block;
  float: left;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider progress {
  display: inline-block;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls {
  padding-right: 30px;
  padding-left: 111px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .prev-icon {
  padding-left: 20px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/fast-forward.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
  transform: rotateY(180deg);
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .play-icon {
  display: inline-block;
  height: 47px;
  width: 40px;
  background-image: url(../img/play.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .pause-icon {
  display: inline-block;
  height: 47px;
  width: 40px;
  background-image: url(../img/pause.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .next-icon {
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/fast-forward.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 80px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .volume {
  padding-right: 20px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .volume .vol-icon {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-image: url(../img/volume.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .volume .mute-icon {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-image: url(../img/mute.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .volume .vol-slider {
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/album.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 225px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .unfav-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/like.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 25px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .fav-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/fav.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 25px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .shuffle-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/arrow-shuffle.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 25px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .replay-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/icon.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
}
::placeholder {
  color: #363b75;
  opacity: 2px;
}
.likedPlaylistBox {
  width: 100%;
  background: #00000085;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.likedPlaylistBox .likedPlaylist {
  width: 70%;
  height: 70%;
  background: white;
  margin: auto;
  margin-top: 7.5%;
  border-radius: 4px;
}
.likedPlaylist {
  padding-left: 30px;
  padding-top: 20px;
}
.likedPlaylist .clear-icon {
  padding-right: 10px;
  display: inline-block;
  float: right;
  height: 40px;
  width: 35px;
  background-image: url(../img/clear.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
}
.likedPlaylist .favListStyle {
  display: inline-flex;
}
.likedPlaylist .favListStyle .favListBox {
  padding-right: 40px;
}
.likedPlaylist .favListStyle .favListBox .fav-card-img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.likedPlaylist .favListStyle .favListBox .fav-card-singer-name {
  font-size: 20px;
  font-weight: 500;
  color: #00134d;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
}
.likedPlaylist .favListStyle .favListBox .fav-card-name {
  font-size: 15px;
  font-weight: 400;
  padding-left: 5px;
  color: #00134d;
  font-family: 'Roboto', sans-serif;
}
.unfav1-icon {
  padding-right: 10px;
  display: inline-block;
  height: 39px;
  border-radius: 66%;
  background-color: aliceblue;
  width: 29px;
  float: right;
  background-image: url(../img/like.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  margin-right: 25px;
  transform: translate(50%, -508%);
}
.fav1-icon {
  padding-right: 10px;
  display: inline-block;
  height: 39px;
  border-radius: 66%;
  background-color: aliceblue;
  width: 29px;
  float: right;
  background-image: url(../img/fav.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  margin-right: 25px;
  transform: translate(50%, -508%);
}
